# Run htmltest link checker on generated HTML output in docs/dist/
# https://github.com/wjdp/htmltest
name: Link Check

on:
  schedule:
    # 10am UTC on Mondays
    - cron: "0 10 * * 1"
  workflow_dispatch:

jobs:
  htmltest:
    if: github.repository_owner == 'viamrobotics'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build Docs
        run: make build-docs

      - name: Test HTML
        # https://github.com/wjdp/htmltest-action/
        continue-on-error: false
        uses: wjdp/htmltest-action@master
        with:
          config: .htmltest.yml

      - name: Archive htmltest results
        uses: actions/upload-artifact@v4
        with:
          name: htmltest-report
          path: tmp/.htmltest/htmltest.log
          retention-days: 7

      - name: Login to Jira
        if: failure()
        uses: atlassian/gajira-login@v3
        env:
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}

      - name: Create Jira ticket
        if: failure()
        id: create
        uses: atlassian/gajira-create@v3
        env:
          GITHUB_RUN_ID: ${{ github.run_id }}
        with:
          project: DOCS
          issuetype: Bug
          summary: Broken link detected in TS docs
          description: "For more info see https://github.com/viamrobotics/viam-typescript-sdk/actions/runs/${{ env.GITHUB_RUN_ID }}."

      - name: Log created Jira issue
        if: failure()
        run: echo "Issue ${{ steps.create.outputs.issue }} was created"
