name: Lint

on:
  workflow_call:
  workflow_dispatch:

jobs:
  lint:
    if: github.repository_owner == 'viamrobotics'
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/viamrobotics/rdk-devenv:amd64

    steps:
      - uses: actions/checkout@v4

      - name: Prepare job
        uses: viamrobotics/viam-typescript-sdk/.github/actions/prepare-job@main
        with:
          download_build_buf: 'true'
          download_build_artifacts: 'false'

      - name: Lint
        run: sudo -u testbot bash -lc 'make lint-ci'
