name: Main

on:
  push:
    branches:
      - main

jobs:
  build:
    if: github.repository_owner == 'viamrobotics'
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/viamrobotics/rdk-devenv:amd64

    steps:
      - uses: actions/checkout@v4

      - name: Prepare job
        uses: viamrobotics/viam-typescript-sdk/.github/actions/prepare-job@main

      - name: Build
        run: sudo -u testbot bash -lc 'make build-ci'

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: |
            dist
            src/gen
          retention-days: 1

  lint:
    if: github.repository_owner == 'viamrobotics'
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/viamrobotics/rdk-devenv:amd64

    steps:
      - uses: actions/checkout@v4

      - name: Prepare job
        uses: viamrobotics/viam-typescript-sdk/.github/actions/prepare-job@main

      - name: Lint
        run: sudo -u testbot bash -lc 'make lint-ci'

  test:
    if: github.repository_owner == 'viamrobotics'
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/viamrobotics/rdk-devenv:amd64

    steps:
      - uses: actions/checkout@v4

      - name: Prepare job
        uses: viamrobotics/viam-typescript-sdk/.github/actions/prepare-job@main

      - name: Test
        run: sudo -u testbot bash -lc 'make test-ci'

  test-e2e:
    if: github.repository_owner == 'viamrobotics'
    needs: build
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/viamrobotics/rdk-devenv:amd64

    steps:
      - uses: actions/checkout@v4

      - name: Prepare job
        uses: viamrobotics/viam-typescript-sdk/.github/actions/prepare-job@main
        with:
          download_build_artifacts: 'true'

      - name: Test E2E
        run: sudo -u testbot bash -lc 'make test-e2e-ci'

  publish_next:
    needs: [build, lint, test, test-e2e]
    uses: viamrobotics/viam-typescript-sdk/.github/workflows/publish_next.yml@breakup-workflows
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
