name: Publish Release Candidate to NPM

on:
  release:
    types: [published]
    secrets:
      NPM_TOKEN:
        required: true
  workflow_dispatch:
    secrets:
      NPM_TOKEN:
        required: true

jobs:
  publish_candidate:
    if: |
      github.repository_owner == 'viamrobotics'
      && (github.event_name == 'workflow_dispatch' || github.event_name == 'release')
    runs-on: [self-hosted, x64]
    container:
      image: ghcr.io/viamrobotics/canon:amd64

    steps:
      - name: Check if organization member
        id: is_organization_member
        if: github.event_name == 'workflow_dispatch'
        uses: jamessingleton/is-organization-member@1.0.1
        with:
          organization: viamrobotics
          username: ${{ github.actor }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Cancelling - not an organization member
        uses: andymckay/cancel-action@0.2
        if: |
          github.event_name == 'workflow_dispatch' && steps.is_organization_member.outputs.result == 'false'

      - name: Download Release
        uses: dsaltares/fetch-gh-release-asset@master
        with:
          file: "viamrobotics\\-sdk\\-.*\\.tgz"
          regex: true
          target: './'

      - name: Check Files
        id: release_file
        run: echo "path=$(ls -1 | head -1)" >> $GITHUB_OUTPUT

      - name: Publish
        uses: JS-DevTools/npm-publish@v2
        with:
          token: ${{ secrets.NPM_TOKEN }}
          package: ${{ steps.release_file.outputs.path }}
          dry-run: true # TODO: remove dry run
