name: Pull Request Update

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  test:
    uses: viamrobotics/viam-typescript-sdk/.github/workflows/test.yml@main

  license_check:
    uses: viamrobotics/viam-typescript-sdk/.github/workflows/license_finder.yml@license-check
