name: Pull Request Update

on: [workflow_dispatch, pull_request]

jobs:
  build:
    if: github.repository_owner == 'viamrobotics'
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/viamrobotics/rdk-devenv:amd64

    steps:
      - uses: actions/checkout@v4

      - name: Prepare workflow
        uses: viamrobotics/viam-typescript-sdk/.github/actions/prepare-workflow@main

      - name: Build
        run: sudo -u testbot bash -lc 'make build-ci'

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: |
            dist
            src/gen
          retention-days: 1

  lint:
    if: github.repository_owner == 'viamrobotics'
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/viamrobotics/rdk-devenv:amd64

    steps:
      - uses: actions/checkout@v4

      - name: Prepare workflow
        uses: viamrobotics/viam-typescript-sdk/.github/actions/prepare-workflow@main

      - name: Lint
        run: sudo -u testbot bash -lc 'make lint-ci'

  test:
    if: github.repository_owner == 'viamrobotics'
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/viamrobotics/rdk-devenv:amd64

    steps:
      - uses: actions/checkout@v4

      - name: Prepare workflow
        uses: viamrobotics/viam-typescript-sdk/.github/actions/prepare-workflow@main

      - name: Test
        run: sudo -u testbot bash -lc 'make test-ci'

  test-e2e:
    if: github.repository_owner == 'viamrobotics'
    needs: build
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/viamrobotics/rdk-devenv:amd64

    steps:
      - uses: actions/checkout@v4

      - name: Prepare workflow
        uses: viamrobotics/viam-typescript-sdk/.github/actions/prepare-workflow@main
        with:
          e2e: 'true'

      - name: Test E2E
        run: sudo -u testbot bash -lc 'make test-e2e-ci'

  license_check:
    uses: viamrobotics/viam-typescript-sdk/.github/workflows/license_finder.yml@main
