name: Pull Request Update

on:
  pull_request:
    branches:
      - main

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install
      run: npm ci --audit=false --legacy-peer-deps
    - name: Run ESLint
      run: npm run lint
