name: Setup

on:
  workflow_call:
  workflow_dispatch:

jobs:
  setup:
    if: github.repository_owner == 'viamrobotics'
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/viamrobotics/rdk-devenv:amd64

    steps:
      - uses: actions/checkout@v4

      - name: Setup environment
        uses: viamrobotics/viam-typescript-sdk/.github/actions/setup-environment@main

      - name: Cache node_modules
        uses: actions/cache@v4
        id: cache-node-modules
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install npm dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: sudo -u testbot bash -lc 'make setup'

      - name: Build protocol buffers
        run: sudo -u testbot bash -lc 'make build-buf-ci'

      - name: Upload build-buf artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-buf-artifacts
          path: src/gen
          retention-days: 1

