name: Setup

on:
  workflow_call:
  workflow_dispatch:

jobs:
  setup:
    if: github.repository_owner == 'viamrobotics'
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/viamrobotics/rdk-devenv:amd64

    steps:
      - uses: actions/checkout@v4

      - name: Check build-buf cache
        uses: actions/cache@v4
        id: cache-build-buf-check
        with:
          path: src/gen
          key: build-buf-${{ runner.os }}-${{ hashFiles('api_version.lock') }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            build-buf-${{ runner.os }}-${{ hashFiles('api_version.lock') }}-
            build-buf-${{ runner.os }}-

      - name: Prepare job and generate build-buf
        if: steps.cache-build-buf-check.outputs.cache-hit != 'true'
        uses: viamrobotics/viam-typescript-sdk/.github/actions/prepare-job@main
        with:
          generate_build_buf: 'true'
          download_build_buf: 'false'
          download_build_artifacts: 'false'

