name: Test E2E

on:
  workflow_call:
  workflow_dispatch:

jobs:
  test-e2e:
    if: github.repository_owner == 'viamrobotics'
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/viamrobotics/rdk-devenv:amd64

    steps:
      - uses: actions/checkout@v4

      - name: Setup environment
        uses: viamrobotics/viam-typescript-sdk/.github/actions/setup-environment@test-breakup-workflows

      - name: Cache node_modules
        uses: actions/cache@v4
        id: cache-node-modules
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install npm dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: sudo -u testbot bash -lc 'npm ci --audit=false'

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: .

      - name: Test E2E
        run: sudo -u testbot bash -lc 'make test-e2e-ci'