name: Test E2E

on:
  workflow_call:
  workflow_dispatch:

jobs:
  test-e2e:
    if: github.repository_owner == 'viamrobotics'
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/viamrobotics/rdk-devenv:amd64

    steps:
      - uses: actions/checkout@v4

      - name: Prepare job
        uses: viamrobotics/viam-typescript-sdk/.github/actions/prepare-job@test-breakup-workflows
        with:
          download_build_buf: 'false'
          download_build_artifacts: 'true'

      - name: Test E2E
        run: sudo -u testbot bash -lc 'make test-e2e-ci'