name: Update Protos + Open PR

on:
  push:
    branches:
      - "RSDK-2091-auto-PR-api-changes"
  workflow_dispatch:
  repository_dispatch:
    types:
      - protos-updated

jobs:
  update-protos:
    if: github.repository_owner == 'viamrobotics'
    runs-on: [self-hosted, x64]
    container:
      image: ghcr.io/viamrobotics/canon:amd64
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.REPO_READ_TOKEN }}

      - name: Update api
        run: |
          sudo chown -R testbot .
          sudo -u testbot bash -lc 'make buf-update'

      - name: Add + Commit + Open PR
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: '[WORKFLOW] Updating protos from ${{ github.event.client_payload.repo_name }}, commit: ${{ github.event.client_payload.sha }}'
          branch: 'workflow/update-protos'
          delete-branch: true
          base: main
          title: Automated Protos Update
          body: This is an auto-generated PR to update proto definitions. Check the commits to see which repos and commits are responsible for the changes
          assignees: maximpertsov
          reviewers: maximpertsov
